* { 
    box-sizing: border-box; 
}

html, body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(130deg, #6366f1 10%, #0ea5e9 30%, #10b981 70%);
    color: #333;
    scroll-behavior: smooth;
}

h1, .main-title {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 2rem;
    color: #fff;
    margin-left: 30px;
}

section {
    margin-bottom: 100px;
}

.marked-text {
    color: #0ea5e9;
    font-weight: bold;
}

#navbar {
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0 40px;
}

#navbar #socials {
    display: flex;
}

#navbar #menu a {
    color: #252525;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    transition: all 0.3s ease-in;
}

#navbar #menu a:hover {
    color: white;
}

#navbar img {
    width: 45px;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    color: #fff;
    overflow: hidden;
    padding: 0 30px;
}

#intro-text {
    left: 50px;
}

#intro img {
    border: 2px solid black;
    border-radius: 100%;
}

.main-title {
    font-size: 5.5rem;
    color: #fff;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#subtitle {
    font-size: 1.75rem;
    color: #fff;
    margin-top: 10px;
}

#about {
    padding: 20px 0px;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: justify;
    gap: 20px;
}

#about h1 {
    color: #252525;
}

#about span {
    font-size: 120%;
}

#about div {
    width: 100%;
    padding: 0 4%;
}

.container {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 50px;
}

.container img {
    position: relative;
    margin: 0;
    width: 20%;
}

#skills-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 150px;
}

.slider-track {
    display: flex;
    gap: 40px;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.slide {
    background-color: #fff;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 60px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.slide img {
    width: auto;
    height: 75%;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.projects-details {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.projects-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: transform 0.3s ease;
}

.projects-item:hover {
    transform: translateY(-5px) scale(1.1);
}

.projects-item a {
    color: #252525;
    font-size: 2rem;
    text-decoration: none;
}

.projects-item a:hover {
    text-decoration: underline;
}

.projects-item p {
    color: #252525;
    margin-top: 40px;
}

#projects-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-link-container button {
    background: transparent;
    border: 2px solid white;
    border-radius: 100rem;
    color: white;
    cursor: pointer;
    font-size: medium;
    font-weight: bolder;
    padding: 10px 15px;
    transition: all .3s ease-in-out;
}

#projects-link-container button:hover {
    color: #252525;
    background-color: white;
}

footer {
    padding: 40px 20px;
    text-align: center;
    margin: 0 auto;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

footer div img {
    width: 15%;
}

#quote-text {
    font-size: 6rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    margin-right: 20px;
}

#quote-author {
    font-size: 1.5rem;
    font-weight: 400;
    color: #d4d3d3;
    margin: 0;
}

footer p {
    font-size: 1rem;
    color: #d4d3d3;
    margin-top: 20px; 
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1023px) and (min-width: 768px) {

    #intro {
        flex-direction: column;
        padding: 0 20px;
    }

    #intro-text {
        padding-top: 40px;
        position: static;
        transform: none;
        margin-bottom: 20px;
    }

    .main-title {
        font-size: 3rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .container img {
        width: 50%;
        margin-bottom: 20px;
    }

    .presentation-slide {
        width: 80%;
        margin-bottom: 20px;
    }

    .projects-details {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    #navbar #menu a {
        margin: 10px 0;
    }

    #intro {
        flex-direction: column;
        padding: 0 20px;
    }

    #intro-text {
        position: static;
        transform: none;
        margin-bottom: 20px;
    }

    .main-title {
        font-size: 2.25rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .container img {
        width: 80%;
        margin-bottom: 20px;
    }

    .presentation-slide {
        width: 90%;
        margin-bottom: 20px;
    }

    .projects-details {
        grid-template-columns: 1fr;
    }

    #quote-text {
        font-size: 3rem;
    }

    #quote-author {
        font-size: 1.25rem;
        bottom: 10px;
        right: 10px;
    }

    footer p {
        font-size: 0.875rem;
    }
}
